@{
    ViewBag.Title = "O aplikacji";
}
<h2>@ViewBag.Title</h2>

Autorzy:
<address>
    Norbert Langner &mdash; norbert.langner (at) student.put.poznan.pl<br />
    Marcin Stupin   &mdash; marcin.stupin (at) student.put.poznan.pl<br />
    Katarzyna Sroka &mdash; katarzyna.sroka (at) student.put.poznan.pl<br />
</address>
