@{
    ViewBag.Title = "Strona główna";
}

<div class="row">
    <div class="col-md-12">
        <h1>Panel główny</h1>
        <p>Witaj w aplikacji CompSpy &mdash; programie do monitorowania aktywności użytkowników
        na komputerach służbowych/uczelnianych. Wybierz interesującą Cię funkcję.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Podgląd komputerów</h2>
        <p>
            Rozpocznij monitoring komputerów w pomieszczniach, do których posiadasz uprawnienia.
        </p>
        <p><a class="btn btn-default" href="#">Monitoring &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zarządzanie stanowiskami</h2>
        <p>Skonfiguruj monitoring komputerów oraz pogrupuj je w pomieszczenia.</p>
        <p><a class="btn btn-default" href="#">Stanowiska &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Użytkownicy i uprawnienia</h2>
        <p>Dodaj użytkowników do systemu i nadaj im odpowiednie uprawnienia.</p>
        <p>@Html.ActionLink("Użytkownicy »", "Index", "User", null, new { @class = "btn btn-default" })</p>
    </div>
</div>